{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}

{% block head %}
{{ super() }}
{% if post %}
	<meta property="og:type" content="article" />
	<meta property="article:section" content="{{ post.metadata.section }}" />
	<meta property="article:published_time" content="{{ post.metadata.date.iso_date }}" />
{% for tag in post.metadata.tags %}
	<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endif %}
	<style>{% include "style/github-markdown-processed.css" %}</style>
	<style>{% include "style/github.css" %}</style>
	<style>{% include "style/blog-post.css" %}</style>
{% endblock %}

{% block prefix -%}
{{ super() -}}
{% if post -%}
	{{ "article: http://ogp.me/ns/article#" -}}
{% endif %}
{% endblock %}

{% block title %}
{% if post -%}
	{{ post.title -}}
{% else %}
	post not found
{% endif %}
{% endblock %}

{% block description %}
{% if post -%}
	{{ post.metadata.description -}}
{% else -%}
	this post has either been swept under the rug or has never existed in the first place :(
{% endif %}
{% endblock %}

{% block image %}
{% if rendered and rendered.images -%}
	{{ rendered.images[0].url -}}
{% else -%}
	{{ super() -}}
{% endif %}
{% endblock %}

{% block content %}
{% if post -%}
	<article>
		<div class="title-container">
			<div class="heading-container">
				<h1>{{ post.title }}</h1>
				<span id="navigation-links">
					<a href="{{ '/blog#post-' + post.name }}" alt="home"><svg viewBox="0 0 15 15"><path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path></svg></a>
					<a href="{{ rss_url }}" alt="rss"><svg viewBox="-2 0 15 15"><path fill-rule="evenodd" d="M2 13H0v-2c1.11 0 2 .89 2 2zM0 3v1a9 9 0 0 1 9 9h1C10 7.48 5.52 3 0 3zm0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"></path></svg></a>
				</span>
			</div>
			{{ macros.metadata(post) }}
			{{ macros.tag_list(post) }}
		</div>
		<div class="markdown-body">
			{{ rendered.html|safe }}
		</div>
		<div class="license">
			<span class="license-image">
				<a href="{{ post.metadata.license_.text.value.description_url }}">
					<img src="{{ post.metadata.license_.text.value.image_url }}" />
				</a>
			</span>
			<span>
				<a href="{{ post.metadata.license_.text.value.description_url }}">
				{{ post.metadata.license_.text.value.name }}
				</a>
				{% if post.metadata.license_.code %}
					(only applies to text, code license: <a href="{{ post.metadata.license_.code.value.description_url }}" alt="license">{{ post.metadata.license_.code.value.name }}</a>)
				{% endif %}
			</span>
		</div>
	</article>
	<script src="https://utteranc.es/client.js"
			repo="PhilipTrauner/blog"
			issue-term="og:title"
			crossorigin="anonymous"
			async>
	</script>
{% else %}
	{{ macros.warning("could not find post :(") }}
{% endif %}
{% endblock %}
