{% macro tag_list(post) -%}
<div class="tags">
{% for tag in post.post_metadata.tags %}
	<a class="tag" href="/blog/tag/{{ tag }}">{{ tag }}</a>
{% endfor %}
</div>
{%- endmacro %}

{% macro post_list(posts) -%}
<div>
	<ul class="post-list">
		{% for post in posts %}
		{% if not post.post_metadata.hidden %}
		<li class="post">
			<a href="/blog/post/{{ post.name }}"><h2 id="post-{{ post.name }}">{{ post.title }}</h2></a>
			{{ metadata(post) }}
			{{ tag_list(post) }}
			<p>{{ post.post_metadata.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{%- endmacro %}

{% macro metadata(post) -%}
<div class="metadata">
	<span>{{ post.post_metadata.date.pretty_date }}</span>
	<span class="metadata-seperator">·</span>
	<span>{{ post.read_time.word_count }} Words</span>
	<span class="metadata-seperator">·</span>
	<span class="overall-time">{{ post.read_time.pretty_overall_time }}
		<span class="time-breakdown">
			{% for element in post.read_time.pretty_time_breakdown %}
			<span>{{ element }}: {{ post.read_time.pretty_time_breakdown[element] }}</span>
			{% endfor %}
		</span>
	</span>
</div>
{%- endmacro %}

{% macro back_arrow(location) -%}
<a href="{{ location }}">
	<span class="back-arrow" alt="Back">⇤</span>
</a>
{%- endmacro %}

{% macro warning(text, is_content=True) -%}
<div class="{% if is_content %}content{% endif %} warning">
	<svg height="32" width="32" viewBox="0 0 16 16">
		<use xlink:href="#warning"></use>
	</svg>
	<p>{{ text }}</p>
</div>
{%- endmacro %}

