*/__pycache__/
.env
.envrc
.git
.git*
.git/
.mypy_cache
__pycache__/
blog
docker-compose.yml
Dockerfile
Makefile
node_modules/
package.json
posts
README.md
src/
utils/
yarn.lock
env/
.vscode/
.pre-commit-config.yaml
.DS_Store
.venv
pyrightconfig.json
