[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "==2.10"
Meh = "==1.2.1"
requests = "==2.18.4"
Sanic = "==0.7.*"
spotipy = "*"

[dev-packages]
