.highlight + figcaption, pre + figcaption, p + figcaption  {
	display: block; 
	text-align: center !important;
	color: grey;
	margin-top: -10px;
	margin-bottom: 16px;
}

.title-container {
	border-bottom: 1px solid #eaecef;
	margin-bottom: 16px;
}


.title-container .tag {
	margin-bottom: 12px;
}

.heading-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-top: 16px;
	margin-bottom: 4px;
}

.heading-container span {
	min-width: 75px;
	margin-left: 10px;
}

.heading-container h1 {
	font-size: 2em;
	line-height: 40px;
	width: 85%;
}

.heading-container svg {
	width: 35px;
}


.license {
	vertical-align: middle;
	color: #6a737d;
	font-size: 16px;
	margin-bottom: 12px;
	border-bottom: 1px solid #eaecef;
	padding-bottom: 16px;
	display: flex;
}

.license a {
	text-decoration: none;
	color: #0366d6;
}

.license img {
	height: 24px;
}

.license-image {
	align-self: center;
	margin-right: 6px;
}

.warning {
	margin-top: 1em;
}

@media screen and (max-width: 960px) {
	.utterances {
		margin-left: 5vw !important;
		margin-right: 5vw !important;
	}	
}

.utterances {
	margin-left: 20vw;
	margin-right: 20vw;
	max-width: unset;
	width: unset;
}