ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

blockquote {
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
    color: #555555;
    border-left: 0.2em solid black;
    background: #ededed;
}

blockquote span:first-of-type {
    font-size: 56px;
    margin-left: 14px;
    height: 0px;
}

blockquote div {
    display: flex;
}

blockquote cite::before {
    content: "— ";
}

blockquote cite {
    text-align: right;
    margin-right: 18px;
    display: block;
    padding-bottom: 12px;
}

blockquote p {
    margin-top: 0.8em !important;
    margin-left: 0.5em;
    margin-right: 1em;
    display: inline-block;
}

header,
header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    font-family: Helvetica, sans-serif;
    margin-bottom: 16px;
}

header a {
    padding: 2em 0.7em 0.5em 0.7em;
    font-size: 18px;
    color: black;
    border: 0;
    letter-spacing: 1.2px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

header ul {
    margin: 0 0 0 0;
}

header li {
    display: inline-block;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

header a:hover,
.header-selected {
    background: black;
    color: white;
}

@media screen and (max-width: 650px) {
    header a {
        color: white;
        background: black;
        border-bottom: 1px solid white;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0 0 0 0;
        display: block;
        text-align: left;
    }

    header li {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }

    header a:hover,
    .header-selected {
        background: #808080;
    }
}

#about p {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

#about p:first-of-type {
    margin-top: 1em;
}

#about p:last-of-type {
    margin-bottom: 1em;
}

.about-greeting {
    margin-left: -0.065em !important;
    font-size: 2.8em;
    font-weight: 500;
}

.dot-dot-dot-start-date {
    margin-left: 0.5em;
}

.dot-dot-dot-start-date:before {
    content: "(";
}

.dot-dot-dot-end-date:before {
    content: ")";
}

#dot-dot-dot h2 {
    margin-bottom: 0;
}

#dot-dot-dot h3 {
    margin-bottom: 0;
}

#dot-dot-dot p {
    margin-top: 0.5em;
}
