.highlight + figcaption, pre + figcaption, p + figcaption  {
	display: block; 
	text-align: center !important;
	color: grey;
	margin-top: -10px;
	margin-bottom: 16px;
}

.title-container {
	border-bottom: 1px solid #eaecef;
	margin-bottom: 16px;
}

.title-container h1 {
	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 2em;
	line-height: 40px;
}

.title-container .tag {
	margin-bottom: 8px;
}

.license {
	vertical-align: middle;
	color: #6a737d;
	font-size: 16px;
	margin-bottom: 12px;
	border-bottom: 1px solid #eaecef;
	padding-bottom: 16px;
}

.license img {
	height: 24px;
	vertical-align: middle;
}

.license a {
	text-decoration: none;
	color: #0366d6;
}

.warning {
	margin-top: 1em;
}

.back-arrow {
	font-size: 2em;
	left: calc(20vw - 40px);
	line-height: 40px;
	position: absolute;
	color: #0366d6;
}

@media screen and (max-width: 960px) {
	.back-arrow {
		display: none;
	}

	.utterances {
		margin-left: 5vw !important;
		margin-right: 5vw !important;
	}	
}

.utterances {
	margin-left: 20vw;
	margin-right: 20vw;
	width: unset;
}