body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

p {
	margin: 0.4em 0 0.3em 0;
}

.hidden {
	display: none;
}

.content {
	margin: 0 1em 0 1em;
	font-family: 'Lato', sans-serif;
}

.content h1 {
	margin: 0 0 0 0;
}


.right-column img {
	width: 40px;
	height: 40px;
}

.top-border {
	display: none;
}

.seperator {
	height: 0.2em;
	border: 0;
	background: black;
	margin: 0 1em 0 1em;
}


header {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 1em;
}


header a {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 112.5%;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
	width: 100%;
	background: black;
	border-bottom: 1px solid white;
	padding: 0.5em 1em;
	display: block;
}

header ul {
	margin: 0 0 0 0;
}

header li {
	width: 100%;
	display: block;
}

header a:hover, header a:active {
	background: grey;
}


@media screen and (min-width: 625px) {
	header, header ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	header a {
		margin: 0;
		padding: 2em 0.7em 0.5em 0.7em;
		font-size: 1.1em;
		background: transparent;
		color: black;
		border: 0;
	}

	header li {
		display: inline-block;
		width: auto;
		margin-left: .5em;
		margin-right: .5em;
	}

	header a:hover, header a:active {
		background: black; 
		color: white;
	}

	.top-border {
		height: 0.3em;
		background: black;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		position: relative;
		display: block;
	}

	.seperator {
		width: 80%;
		margin: 0 auto 0 auto;
	}

	.content {
		margin: 1em auto 0 auto;
		width: 80%;
	}


	.right-column {
		float: right;
		text-align: right;
		
	}

	.left-column {
		float: left;
		text-align: left;
	}
}

#about p:first-child {
	margin-top: 1em;
}

#about p:last-child {
	margin-bottom: 0.7em;
}

footer h2,  {
	display: inline-block;
}

#repos h2 {
	display: inline-block;
	margin-bottom: 0;
}

.about-greeting {
	margin-left: -0.065em !important;
}

#projects p {
	margin-top: 0.8em;
	margin-bottom: 1em;
}

.project-header {
	display: flex;
}

.project-header a {
	flex: 1;
}

.project-header h3 {
	display: inline-block;
	margin-bottom: 0.4em;
	margin-top: 0.4em;	
}

.project-org {
	width: 8em;
	height: 8em;
	display: block;
}

.project-stars {
	align-self: center;
}

.project-stars img {
	padding-right: 0.2em;
	vertical-align: 2%;
}

.project-star-count {
	display: inline-block;
	width: 2.5em;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-fork {
	margin-right: 0.5em;
	align-self: center;
}

.project-label {
	color: rgb(88, 96, 105);
	display: inline-block;
	word-wrap: break-word;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 2px 2px 2px 2px;
	outline: rgb(88, 96, 105) none 0px;
	padding: 3px 4px;
	font-size: 0.75em;
	align-self: center;
}

.project-org-container {
	text-align: -webkit-center;
}

.project-org-grid {
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 1.2em 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.project-org-cover {
	background-color: white;
	border: 4px solid rgba(0, 0, 0, 1);
	background-size: auto 150px;
	background-position: center;
	width: 150px;
	height: 150px;
	margin-bottom: 0.2em;
}

.playlist-container {
	text-align: -webkit-center;
}

.playlist-grid {
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1.2em 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.playlist-grid a {
	text-decoration: none !important;
	color: black;
}

.playlist-cover {
	background-color: white;
	border: 4px solid rgba(0, 0, 0, 1);
	background-size: auto 200px;
	background-position: center;
	width: 200px;
	height: 200px;
	margin-bottom: 0.2em;
}

.dot-dot-dot-start-date {
	margin-left: 0.5em;	
}

.dot-dot-dot-start-date:before {
	content: "(";
}

.dot-dot-dot-end-date {

}

.dot-dot-dot-end-date:before {
	content: ")";
}


#about:target, #projects:target, #blog:target, #playlists:target, #dot-dot-dot:target {
	display: block;
}

