{% macro tag_list(post) -%}
<div class="tags">
{% for tag in post.post_metadata.tags %}
	<a class="tag" href="/blog/tag/{{ tag }}">{{ tag }}</a>
{% endfor %}
</div>
{%- endmacro %}

{% macro post_list(posts) -%}
<div>
	<ul class="post-list">
		{% for post in posts %}
		<li>
			<a href="/blog/post/{{ post.name }}"><h2 id="post-{{ post.name }}">{{ post.title }}</h2></a>
			<div class="date">{{ post.post_metadata.date.pretty_date }}</div>
			{{ tag_list(post) }}
			<p>{{ post.post_metadata.description }}</p>
		</li>
		{% endfor %}
	</ul>
</div>
{%- endmacro %}